<div class="main-div">

    <div class="main-content">

        <!-- Upload Attachment Div -->
        <div class="upload-div shadow-div">
            <input type="text" placeholder="Title" id="">
            <hr>
            <div class="description-input">
                <input type="text" placeholder="Description" id="">
            </div>
            <div class="buttons">
                <button class="upload-button">Upload Attachment</button>
                <button class="send-button">Send</button>
            </div>

        </div>

        <!-- TimeTable Div -->
        <div class="timetable-div shadow-div">
            <input type="text" value="Regarding time table" disabled id="">
            <hr>
            <input type="text" value="This is your new time table" disabled id="">
            <div class="image-div">
                <img src="../../assets/Images/Time Table.png" alt="">
            </div>
            <div class="button-div2">
                <button class="send-button">Edit</button>
            </div>
        </div>

    </div>

</div>