<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background-color: transparent; color: black;" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>


    <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="sidenav" opened="" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="custom-div">
                <img src="../assets/Images/Renaissance Logo.png" alt="">
                <h1 class="example-app-name">Renaissance <br> University</h1>
            </div>
            <mat-nav-list>
                <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active-link" (click)="snavToggle(snav)">
                    <div class="snav-item">
                        <mat-icon>dashboard</mat-icon>
                        <span>Dashboard</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/admin/staff" routerLinkActive="active-link" (click)="snavToggle(snav)">Staff Information</a>
                <a mat-list-item routerLink="/admin/students" routerLinkActive="active-link" (click)="snavToggle(snav)">Student Information</a>
                <a mat-list-item routerLink="/admin/announcements" routerLinkActive="active-link" (click)="snavToggle(snav)">Announcements</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>