<div class="main-div">

    <!-- Date and Time Div -->
    <div class="date-time-div shadow-div">

        <!-- Sun and Time Div -->
        <div class="sun-time-div">
            <svg xmlns="http://www.w3.org/2000/svg" width="6em" height="6em" viewBox="0 0 256 256">
                <path fill="black"
                    d="M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0m72 88a64 64 0 1 1-64-64a64.07 64.07 0 0 1 64 64m-16 0a48 48 0 1 0-48 48a48.05 48.05 0 0 0 48-48M58.34 69.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32M192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72m5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8m80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8m112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16" />
            </svg>
            <div class="time-div">
                <span>8:02:09</span>
                <span>Real time insight</span>
            </div>
        </div>

        <!-- Date Div -->
        <div class="date-div">
            Today: 20 August 2024
        </div>

    </div>

    <!-- Department Div -->
    <div class="department-div">
        <p>BCA Department</p>

        <!-- Teacher's Div -->
        <div class="teacher-div shadow-div">
            <!-- Logo and Name -->
            <div class="staff-img-and-name">
                <img src="../../assets/Images/woman_logo.png" alt="">
                <p>Riya Upadhyay</p>
            </div>

            <!-- Right Arrow Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24">
                <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m10 17l5-5m0 0l-5-5" />
            </svg>
        </div>

        <!-- Teacher's Div -->
        <div class="teacher-div shadow-div">
            <!-- Logo and Name -->
            <div class="staff-img-and-name">
                <img src="../../assets/Images/Male_logo.png" alt="">
                <p>Nitesh Makode</p>
            </div>

            <!-- Right Arrow Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24">
                <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m10 17l5-5m0 0l-5-5" />
            </svg>
        </div>
        <div class="see-all-button-div">
            <button class="see-all-button">See all</button>
        </div>

    </div>

    <!-- Calendar -->
    <div class="calendar-div shadow-div">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar (selected)="selected"></mat-calendar>
        </mat-card>
    </div>

    <!-- Student Information Div -->
    <div class="student-info-div">
        <p>Student's Information</p>

        <div class="student-details">

            <!-- Total Students -->
            <div class="students-count-div">
                <div>100%</div>
                <p>250 Students</p>
            </div>

            <!-- Total Students -->
            <div class="students-count-div">
                <div>70%</div>
                <p>175 Students</p>
            </div>

            <!-- Total Students -->
            <div class="students-count-div">
                <div>30%</div>
                <p>75 Students</p>
            </div>

        </div>

    </div>

</div>