<div class="main-div">

    <!-- Date, Time and Calendar Div -->
    <div class="date-time-calendar">

        <!-- Date and Time Div -->
        <div class="date-time-div shadow-div">

            <!-- Sun and Time Div -->
            <div class="sun-time-div">
                <svg xmlns="http://www.w3.org/2000/svg" width="6em" height="6em" viewBox="0 0 256 256"><path fill="black" d="M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0m72 88a64 64 0 1 1-64-64a64.07 64.07 0 0 1 64 64m-16 0a48 48 0 1 0-48 48a48.05 48.05 0 0 0 48-48M58.34 69.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32M192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72m5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8m80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8m112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16"/></svg>
                <div class="time-div">
                    <span>8:02:09</span>
                    <span>Real time insight</span>
                </div>
            </div>

            <!-- Date Div -->
            <div class="date-div">
                Today: 20 August 2024
            </div>

        </div>

        <!-- Calendar -->
        <div class="calendar-div shadow-div">Calendar</div>

    </div>

    <!-- Department and Student Informatuion Div -->
    <div class="dept-stdnt-info-div">

        <!-- Department Div -->
        <div class="department-div"></div>

        <!-- Student Information Div -->
        <div class="student-info-div"></div>

    </div>
    
</div>